@model SchoolJournalApp.Models.Person

<div>
    <h3>@Model.PersonName</h3>
    <h5>@Model.PersonEmail</h5>
    <h5>@Model.PersonPhone</h5>
    <h5>@Model.PersonAddress</h5>
    <br />
    <h5>@Html.ActionLink("Back","Index","Home")</h5>
</div>
