@model IList<SchoolJournalApp.Models.Person>

<div>
    Number of persons: @Model.Count <br /><br />

    <table style="width:75%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pers in Model)
            {
            <tr>
                <td>@pers.PersonName</td>
                <td>@pers.PersonEmail</td>
                <td>@Html.ActionLink("Details", "Details", "Home", new { @id = pers.PersonID }, null)</td>
                <td>@Html.ActionLink("Edit", "Add", "Home", new { @id = pers.PersonID }, null)</td>
            </tr>
            }
        </tbody>
    </table>
</div>