@model SchoolJournalModels.Persons


<h2>DELETE</h2>
<h3>Are you sure you want to delete this information?</h3>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.PersonID)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.PersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.PersonName)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.PersonEmail)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.PersonEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.PersonPhone)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.PersonPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.PersonAddress)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.PersonAddress)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Cancel","Index","Persons")
        </div>
    }
</div>

@*<div>
    <p>ID: @Model.PersonID</p>
    <h4>Name: @Model.PersonName</h4>

    <p>E-mail: @Model.PersonEmail</p>
    <p>Phone: @Model.PersonPhone</p>
    <p>Address: @Model.PersonAddress</p>
    <br />
    <input type="submit" value="Delete" class="btn btn-primary" />
    @Html.ActionLink("Cancel", "Index", "Persons")
</div>*@
