@model SchoolJournalModels.Persons

<div>
    <h2>UPDATE</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.PersonID)
        <div class="form-group">
            @Html.LabelFor(m => m.PersonName)
            @Html.TextBoxFor(m => m.PersonName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PersonName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PersonEmail)
            @Html.TextBoxFor(m => m.PersonEmail, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PersonEmail)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PersonPhone)
            @Html.TextBoxFor(m => m.PersonPhone, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PersonPhone)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PersonAddress)
            @Html.TextBoxFor(m => m.PersonAddress, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PersonAddress)
        </div>

        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel","Index","Persons");
    }
</div>